*{
}
.form{
	height:700px;
	width:700px;
	
	}
.form fieldset{
	margin:9% 17%;
	font-family:"century gothic";
	border:none;
	background-color:rgba(255,0,255,0.10);
	font-weight:bold;
	position:relative;
	left:200px;
}
.form legend{
	margin-top:20px;
	margin-left:35%;
	margin-bottom:-20px;
	padding-left:20px;
	font-size:20px;
	text-transform:capitalize;
	color:black;
	
}
.form form{
	margin-left:2%;
	margin-right:3%;
	margin-bottom:20px;
	
	border:none;
	font-family:"century gothic";
	
}
.form form label{
	margin-left:30px;
	margin-bottom:-30px;
	text-transform:capitalize;
	font-weight:bold;
	color:black;
	
}
.form form  input{
	height:40px;
	width: 100%;
	text-align:center;
	border:none;
	background-color:white;
	
}
.form textarea{
	cols:300px;
	rows:100px;
	height:100px;
	width:400px;
}
.form form button{
	width:101%;
	height:50px;
	padding:12px;
	color:white;
	border:none;
	padding:10px;
	background-color:pink;
	border-radius:10px;
	font-weight:bold;
	
}

.form form button:hover{
	background-color:hotpink;
	
}
 *{margin:0;
}
.item1{	grid-area: header;
background-color:pink;
height:60px;
}
 .item1 h1{
	 position:relative;
	 top:8px;
 }
	

.midi{
	grid-area:midi;
	background-color:white;
	
	padding: 1px;
}
.midi ul{
	list-style-type:none;
	margin: 0px;
	
}
.midi ul li{
	display:inline-block;
	padding: 30px;
	position:relative;
	left:270px;
	font-family: sript;
font-family:cursive;
}
.midi ul li a{
	text-decoration:none;
	 color:black;	
}

.midi ul li:hover{
	background-color:black;
   color:white;
}
.midi ul li a:hover{
	color:white;
}
.midi img{
	height:50px;
	width:50px;
	border-radius:70%;
	float:left;
	position:absolute;
	left:60px;
	top:50px;
	
}
.item2{
	grid-area:menu;
	background-color:black;
	}
.item2 ul{
	margin-top:20%;
	font-family:cursive;
	
}
.item2 ul li{
		padding:20px;
		position:relative;
		right:70px;
}
.item2 ul li a{
	color:white;
	text-decoration:none;
	position:absolute;
	font-size:16px;
	
}
.item2 ul li a:hover{
	color:sandybrown;
	
}
/*.item3{grid-area:main;
       background-color:brown;
	   margin:0px 0px;
	   
}*/
.
a{
	font-size:20px;
	
}
.item4{
	grid-area:right;
	display:inline-block;
    background-color:pink;
}
.item4 p{
	background-color:black;
	height:60px;
	width:auto;
	color:white;
	font-weight:bold;
	padding-top:40px;
	font-family:'brush script mt',cursive;
	font-size:40px;
}
.item4 img{
	border:2px solid white;
	height:400px;
	width:290px;
	border:none;
	padding:20px;
	border-radius:60px;
	margin-left:0px;
	margin-bottom:0px;
	
	
}
.item5{
	grid-area:footer;
	background-color:black;
	margin-bottom:-3%;
    }

.item5 p{
	display:inline-block;
	position:relative;
	right:90px;
	padding-left:50px;
	font-size:16px;
}
.grid-container{
	display:grid;
	grid-template-areas:'header header header header header header''midi midi midi midi midi midi'
	'menu menu right right right right''menu menu footer footer footer footer';
	
	font-family:'brush script mt',cursive;
	
}


.grid-container > div  {
	/*background-color:sandybrown;*/
	text-align:center;
	padding:0px 0;
	font-size:14px;
	color:white;
}