html, body ,div{
	max-width:100%;
	overflow:hidden;
	padding:0;
	margin:0;
}



 .item1{grid-area:header;
 background-color:pink;
}
 .midi{grid-area:midi;
 background-color:white;
 height:80px;
 max-width:100%;}
 .midi img{
	 height:60px;
	 width:60px;
	 border-radius:40px;
	 position:absolute;
	 left:60px;
	 top:80px;
 }
 .midi ul{
	 list-style-type:none;
	 position :relative;
	 left:230px;
 }
 .midi ul li{
	 display:inline-block;
	 padding-left:50px;
	 padding-top:10px;
 }
 .midi ul li a{
	 color:black;
	 text-decoration:none;
	 font-family:cursive;
	 font-size:18px;
 }
 .d{
	 grid-area:d;
	 min-width:100%;
	 
 }
 
 .item2{grid-area:menu;
 background-color:black;
 }
 .item2 ul{
	 list-style-type:none;
 }
 .item2 ul li{
	 display:block;
	 padding:30px;
 }
 .item2 ul li a{
	 color:white;
	 text-decoration:none;
	 font-size:18px;
	 font-family:cursive;
	 position:absolute;
	 left:70px;
	 
 }
 .item3{grid-area:main;
 background-color:pink;

 }
 
 .item3 img{
	 height:600px;
	 width:550px;
	 position:relative;
	 left:80px;
 }
 
 .item4{
	 grid-area:right;
     background-color:black;
	 }
.item4 h2, pre{
	font-family:cursive;
	font-size:16px;
}
 .item5{
	 grid-area:footer;
     background-color:brown;
	
	 }
  .item5 .link1 ul{
	  list-style-type:none;
  }
  .item5 .link1 ul li{
	  padding:10px;
	  display:inline-block;
  }
  
 .item5 .link1 ul li a{
	 text-decoration:none;
	 color:white;
 }
  .item5 .link2 ul li a{
	  text-decoration:none;
	  color:white;
	  font-family:cursive;
  }
  .item5 .link2 ul li{
	  padding:10px;
	  display:inline-block;
  }
 .grid-container{
	 display:grid;
	 grid-template-areas:'header header header header header header''midi midi midi midi midi midi ''d d d d d d ''menu right right right right right'
	 'menu main main main main main ''menu footer footer footer footer footer';
	 
 }
 .grid-container > div{
	 text-align:center;
	 padding:0;
	 font-size:14px;
	 color:white;
	 
	 
 }
 
 
 
 